@import "tailwindcss";
@import "tw-animate-css";
@import "@fontsource/inter";
@import "@fontsource/inter/100.css";
@import "@fontsource/inter/200.css";
@import "@fontsource/inter/300.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";
@import "@fontsource/inter/800.css";
@import "@fontsource/inter/900.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-brand: var(--brand);
  --color-brand-foreground: var(--brand-foreground);
  --color-grey-new-0: var(--grey-new-0);
  --color-grey-new-100: var(--grey-new-100);
  --color-grey-new-200: var(--grey-new-200);
  --color-grey-new-300: var(--grey-new-300);
  --color-grey-new-400: var(--grey-new-400);
  --color-grey-new-500: var(--grey-new-500);
  --color-grey-new-700: var(--grey-new-700);
  --color-grey-new-800: var(--grey-new-800);
  --color-grey-new-900: var(--grey-new-900);
  --color-white-new-100: var(--white-new-100);
  --color-white-new-200: var(--white-new-200);
  --color-white-new-300: var(--white-new-300);
  --color-white-new-400: var(--white-new-400);
  --color-white-new-500: var(--white-new-500);
  --color-white-new-600: var(--white-new-600);
  --color-white-new-700: var(--white-new-700);
  --color-white-new-800: var(--white-new-800);
  --color-white-new-900: var(--white-new-900);
  --colo--natural-black-500: var(--natural-black-500);
  --color-border-primary: var(--border-primary);
  --color-buy: var(--buy);
  --color-sell: var(--sell);
  --text-4xl-custom: var(--4xl-custom);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --brand: oklch(0.8961 0.1757 98.54);
  --brand-foreground: oklch(0.7541 0.1484 87.43);
  --grey-new-100: oklch(0.5953 0.0103 232.48);
  --grey-new-200: oklch(0.471 0.0071 223.55);
  --grey-new-300: oklch(0.4164 0.0073 223.58);
  --grey-new-400: oklch(0.3827 0.0075 223.61);
  --grey-new-500: oklch(0.335 0.0067 248.03);
  --grey-new-600: oklch(0.2878 0.0046 247.99);
  --grey-new-700: oklch(0.2591 0.0048 248.01);
  --grey-new-800: oklch(0.228 0.0049 219.69);
  --grey-new-900: oklch(0.1906 0.0026 247.96);
  --grey-new-0: oklch(0.6772 0.0127 231.75);
  --white-new-100: oklch(0.9846 0.0017 247.84);
  --white-new-200: oklch(0.9644 0.0013 286.37);
  --white-new-300: oklch(0.9333 0.0011 197.14);
  --white-new-400: oklch(0.8996 0.0035 247.86);
  --white-new-500: oklch(0.8646 0.006 239.83);
  --white-new-600: oklch(0.8368 0.0061 239.84);
  --white-new-700: oklch(0.7964 0.0072 247.92);
  --white-new-800: oklch(0.7275 0.0108 238.57);
  --white-new-900: oklch(0.6772 0.0127 231.75);
  --natural-black-500: oklch(0.0885 0.0139 283.18);
  --buy: oklch(0.7048 0.1402 167.43);
  --sell: oklch(0.6507 0.2111 14.84);
  --border-primary: oklch(0.9333 0.0011 197.14);
  --4xl-custom: 40px;
  --font-primary: 'Inter', sans-serif;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-family: var(--font-primary);
}

@utility container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1280px;

  @apply lg:mt-24 mt-10;
}

.top-header {
  @apply px-8 py-4 flex lg:justify-between items-center justify-end;
}

.top-header-navigation-menu-trigger {
  @apply hover:bg-transparent focus:bg-transparent hover:text-brand-foreground data-[state=open]:focus:text-brand-foreground;
}

.introduce-section {
  @apply flex lg:flex-row flex-col items-start justify-between;
}

.introduce-text {
  @apply lg:text-4xl-custom lg:font-bold text-3xl font-bold text-grey-new-900 lg:leading-16 leading-14;
}

.introduce-sub-text {
  @apply text-xl lg:leading-9 leading-8 lg:font-semibold text-grey-new-200;
}

.introduce-join {
  @apply flex lg:flex-row flex-col gap-2;
}

.app-tabs {
  @apply flex flex-col rounded-2xl p-4;
}

.app-tabs-header {
  @apply flex border-b border-b-[#ebebeb] justify-between;
}

.app-tabs-header-left {
  @apply flex gap-4;
}

.app-tabs-item {
  @apply lg:text-xl text-sm text-black relative cursor-pointer shrink-0 lg:font-semibold font-normal leading-9;
}

.app-tabs-item-active {

}

.app-tabs-item-active::after {
  content: '';
  position: absolute;
  height: 3px;
  background: var(--brand-foreground);
  left: 0;
  right: 0;
  bottom: -2px;
}

.app-tabs-content {
  @apply mt-4;
}

.why-us-items {
  @apply grid grid-cols-4 lg:justify-around justify-between lg:gap-0 gap-6;
}

.why-us-item {
  @apply flex flex-col lg:items-center gap-2 lg:col-span-1 col-span-2;
}

.why-us-item-label {
  @apply text-[16px] text-grey-new-200;
}

.why-us-item-value {
  @apply text-xl font-semibold leading-9 text-grey-new-900;
}

.future-cards {
  @apply grid grid-cols-3 gap-5;
}

.card {
  @apply rounded-2xl p-4;
}

.carousel-dots {
  @apply flex items-center justify-center;
}

.carousel-dots-container {
  @apply flex justify-center;
}

.carousel-dot {
  @apply w-4 h-1 rounded-[6px] bg-white-new-500 mx-1;
}

.carousel-dot.active {
  @apply bg-grey-new-900;
}